.ilFormFooter {
    background-color:#F3F9FC !important;
}
#il_qsu_plugin_navigation .btn{
    font-size:18px;
    border:0px;
}
#quick_sign_up_modal_content {
    background-color:#F3F9FC !important;
   padding:0 15px 15px 15px;
}
#quick_sign_up_modal_content .form-horizontal {
    background-color:#F3F9FC !important;
}

#il_qsu_plugin_navigation {
    background-color:white;
    text-align:center;
    margin-bottom:20px;
}
#il_qsu_plugin_navigation button{
    text-decoration:none;
}
#il_qsu_plugin_navigation .disabled {
    color:#00AADC;
    background-color:white;
    border-bottom:3px solid #00AADC;
    padding:0 12px;
}
#terms_qsu_plugin {
    font-size:12px;
    line-height:12px;
}
#terms_qsu_plugin .btn-link{
    vertical-align:unset;
}